<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Todo App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="alertAdd()">
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-note *ngIf="items.length === 0" class="text-center">
    Nothing to show
  </ion-note>
  <ion-list *ngIf="items.legnth !== 0">
    <app-todo-item *ngFor="let todo of items" [item]="todo"></app-todo-item>
  </ion-list>
</ion-content>
